In [20]:
import numpy as np
import pandas as pd

In [33]:
data = pd.read_csv("Sales_Data_Challenges.csv")

In [34]:
data.head()

,OrderID,Category,City,PaymentMethod,SaleDate,Price,Quantity,Discount,Revenue
0,ORD-7778,Furniture,Houston,Debit Card,2024-06-24,610.101338,1.0,20,488.08
1,ORD-6791,Furniture,Chicago,NaN,2024-05-02,714.329017,30.0,48,11143.53
2,ORD-6138,Stationery,New York,Credit Card,2024-01-07,761.840755,46.0,18,28736.63
3,ORD-8291,Furniture,New York,Credit Card,2024-06-27,564.990275,37.0,18,17141.80
4,ORD-1314,Appliances,Houston,Credit Card,2024-02-09,771.496793,30.0,11,20598.96

In [35]:
data.tail()

,OrderID,Category,City,PaymentMethod,SaleDate,Price,Quantity,Discount,Revenue
995,ORD-7036,Appliances,Los Angeles,Online Payment,2024-04-18,622.320119,19.0,32,8040.38
996,ORD-6235,Furniture,Phoenix,Cash,2024-02-15,428.666656,27.0,48,6018.48
997,ORD-5199,Furniture,Los Angeles,NaN,2024-01-31,464.527083,15.0,3,6758.87
998,ORD-3845,Stationery,Los Angeles,Online Payment,2024-01-03,188.563628,50.0,26,6976.85
999,ORD-3852,Electronics,Los Angeles,Debit Card,2024-01-24,271.243474,32.0,9,7898.61

In [36]:
data.shape

(1000, 9)

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        1000 non-null   object
 1   Category       1000 non-null   object
 2   City           1000 non-null   object
 3   PaymentMethod  782 non-null    object
 4   SaleDate       902 non-null    object
 5   Price          961 non-null    float64
 6   Quantity       951 non-null    float64
 7   Discount       1000 non-null   int64
 8   Revenue        915 non-null    float64
dtypes: float64(3), int64(1), object(5)
memory usage: 70.4+ KB

In [38]:
data.isnull().sum()

OrderID            0
Category           0
City               0
PaymentMethod    218
SaleDate          98
Price             39
Quantity          49
Discount           0
Revenue           85
dtype: int64

In [39]:
(data.isnull().sum()/(len(data)))*100

OrderID           0.0
Category          0.0
City              0.0
PaymentMethod    21.8
SaleDate          9.8
Price             3.9
Quantity          4.9
Discount          0.0
Revenue           8.5
dtype: float64

In [40]:
data.fillna({"PaymentMethod":"Unknown"}, inplace=True)
data["PaymentMethod"].isnull().sum()

0

In [41]:
data = data.dropna(subset=['SaleDate'])
data["SaleDate"].isnull().sum()

0

In [44]:
data.fillna({"Price":data["Price"].median()}, inplace=True)
data["Price"].isnull().sum()

0

In [45]:
data.fillna({"Quantity":data["Quantity"].median()}, inplace=True)
data["Quantity"].isnull().sum()

0

In [46]:
data["Revenue"] = np.where(data["Revenue"].isnull(), data["Price"] * data["Quantity"] - data["Discount"], data['Revenue'])
data["Quantity"].isnull().sum()

0

In [47]:
data.shape

(902, 9)

In [48]:
data.isnull().sum()

OrderID          0
Category         0
City             0
PaymentMethod    0
SaleDate         0
Price            0
Quantity         0
Discount         0
Revenue          0
dtype: int64

In [50]:
data.duplicated().sum()

0

In [51]:
data.describe(include="all")

,OrderID,Category,City,PaymentMethod,SaleDate,Price,Quantity,Discount,Revenue
count,902,902,902,902,902,902.000000,902.000000,902.000000,902.000000
unique,857,5,5,5,181,NaN,NaN,NaN,NaN
top,ORD-9683,Appliances,Los Angeles,Unknown,2024-01-03,NaN,NaN,NaN,NaN
freq,3,193,196,199,13,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,499.312502,21.924612,24.453437,8530.564356
std,NaN,NaN,NaN,NaN,NaN,282.507748,17.910087,14.323345,9252.341542
min,NaN,NaN,NaN,NaN,NaN,10.472502,-49.000000,0.000000,-39277.820000
25%,NaN,NaN,NaN,NaN,NaN,267.933299,11.000000,12.000000,2011.842037
50%,NaN,NaN,NaN,NaN,NaN,492.379822,23.000000,25.000000,6367.437346
75%,NaN,NaN,NaN,NaN,NaN,758.856892,36.000000,36.000000,13281.353797
max,NaN,NaN,NaN,NaN,NaN,999.587843,50.000000,50.000000,43775.500000

In [54]:
data.to_csv("Processed_Data.csv",index=False)